# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
api
dist/

# Dependency directories
vendor/

# Configuration files (secrets)
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Certificates and Private Keys
certs/
*.pem
